@import "tailwindcss";

@keyframes spin3d {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.animate-spin3d {
  animation: spin3d 2s infinite linear;
}

html, body {
  background-color: black;
}